<h1>{{mititulo}}</h1>
<hr>
<h3>Número de Matriculas {{ numero_matriculas }}</h3>
<hr>
[<a href="{% url 'crear_matricula' %}">nuevo</a>]
<hr>
<table border="1px">
  <tr>
    <th><b>Estudiante</b></th>
    <th><b>Módulo</b></th>
    <th><b>Comentario</b></th>
    <th><b>Opciones</b></th>
  </tr>
  {% for e in matriculas %}
  <tr>
    <td>
      {{e.estudiante.nombre}}
      [<a href="{% url 'detalle_estudiante' e.estudiante.id %}">+</a>]
    </td>
    <td>
      {{e.modulo.nombre}}
    </td>
    <td>
      {{e.comentario}}
    </td>
    <td>
      [<a href="{% url 'detalle_matricula' e.id %}">ver</a>]
      [<a href="{% url 'editar_matricula' e.id %}">editar</a>]
    </td>
  </tr>
  {% endfor %}
</table>

<br>
<hr>
<h3>Resumen de Estudiantes y sus Matrículas</h3>
<table border="1px">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo de Estudiante</th>
    <th>Edad</th>
    <th>Matrículas</th>
    <th>Total Matrículas ($)</th>
  </tr>
  {% for estudiante in estudiantes %}
  <tr>
    <td>{{ estudiante.nombre }}</td>
    <td>{{ estudiante.apellido }}</td>
    <td>{{ estudiante.tipo_estudiante }}</td>
    <td>{{ estudiante.edad }}</td>
    <td>
      <ul>
        {% for matricula in estudiante.lasmatriculas.all %}
          <li>Módulo {{ matricula.modulo.nombre }} - ${{ matricula.costo }}</li>
        {% empty %}
          <li>Sin matrículas</li>
        {% endfor %}
      </ul>
    </td>
    <td>
      {{ estudiante.total_matriculas }}
    </td>
  </tr>
  {% endfor %}
</table>